{% extends 'base.html' %}


{% block css %}
<style>
    *{
        margin-inline: 10rem;
    }
    .view
    {
        margin-top: 10rem;
    }
    #view1 .text h1 {
    font-size: 5.5em;
    line-height: 1.1em;
    margin-bottom: 0.6em;
}
#view1 .text h1 span {
    font-family: "NeueMachina";
    font-weight: 300;
    letter-spacing: -0.02em;
    #view1 .text h1 span {
    font-family: "NeueMachina";
    font-weight: 300;
    letter-spacing: -0.02em;
}

.text-highlight {
    color: var(--accent-color);
    text-decoration: none;
}
#view1 .text p {
    font-size: 2.45em;
    letter-spacing: -0.04em;
}
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    width: 5px;
}
</style>

{% endblock css %}




{% block body %}
<section class="view" id="view1">


    </script>
      <div class="text">
        <h1>
          <span>
            We're not a <span class="text-highlight">
              course <br> factory.
            </span>
          </span>
        </h1>
        <p>
          We focus on courses that really help.
        </p>
      </div>


    </section>
    
  {% endblock body %}